body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
    padding: 5px 5px 0 5px;
}

.chat:hover {
    background-color: #ddd;
}

/* */
.fancychat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: lightgreen;
}

.fancychat .username {
    font-weight: 800;
    padding: 5px 5px 0 5px;
}

.fancychat:hover {
    background-color: mediumaquamarine;
}
/* */

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.message {
    background-color: lightgray;
    margin: 5px;
}

.messageText {
    width: 100%;
    word-wrap: break-word;
    padding: 5px;
}

.timestamp {
    color: gray;
    padding: 0 5px 5px 5px;
}

/*
<style>@keyframes colorChange {0%{background-color: red;}8%{background-color: orange;}16%{background-color: yellow;}24%{background-color: green;}32%{background-color: blue;}40%{background-color: indigo;}48%{background-color: violet;}56%{background-color: indigo;}64%{background-color: blue;}73%{background-color: green;}82%{background-color: yellow;}90%{background-color: orange;}100%{background-color: red;}}#main {animation: colorChange 4s infinite;}</style>
*/

/*
<style>@keyframes colorChange {0%{background-color: red;}8%{background-color: orange;}16%{background-color: yellow;}24%{background-color: green;}32%{background-color: blue;}40%{background-color: indigo;}48%{background-color: violet;}56%{background-color: indigo;}64%{background-color: blue;}73%{background-color: green;}82%{background-color: yellow;}90%{background-color: orange;}100%{background-color: red;}}#chats {animation: colorChange 10s infinite;}</style>
*/

/*
<script>console.log("You shouldn't allow me to use scripts");</script>
*/

/*
<style>@keyframes rotateElement {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}#main {animation: rotateElement 10s infinite linear;}</style>
*/